.section {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.title__container {
  width: 20vw;
  height: 45px;
  border: 1px solid #068;
  border-radius: 5px;
  margin: 10px auto 10px;
  cursor: default;
  overflow: hidden;
}

.title {
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
}